@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.banner-container{
    margin: 0;
    font-size: 22px;
    font-family: 'Truculenta', sans-serif;
}

.banner-container .banner{
    width: 100%;
    height: 610px;
}

.banner-container .click{
    margin: 0;
    width: 353.53px;
    height: 89px;
    top: 669px;
    left: 865px;
    border-radius: 28px;
    background: #C4C4C4;
    position: absolute;
    top: 65%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.click a {
    color: #212529;
    text-decoration: none;
    padding: 0.5rem 1rem;
    align-items: center; /* Agregado para centrar verticalmente */
}