.preview-container {
  background: #ccc;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  margin-right: 20px;
}

.dar-adoptar-form {
  margin-left: 20px;
  margin-right: 20px;
}

.cargar-mascotas {
  margin-top: 20px;
  margin-bottom: 20px;
}

input, textarea {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2d9fd900;
  background-color: #ccc;
  color: #000;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
}